# Ceci est un exemple afin de sécuriser ce site et obtenir un A+ au test https://securityheaders.com/
# Notez que cela fonctionne en auto-hébergement ou chez un hébergeur, pas sur Github.
# Remplacez le nom de domaine par le vôtre.

#Redirection HTTPS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

#HSTS STRICT TRANSPORT SECURITY
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS
</IfModule>

# Choix du fuseau horaire
SetEnv TZ Europe/Paris

# Masquer les informations relatives au serveur :
ServerSignature Off

# Encodage par défaut des fichiers textes et HTML
AddDefaultCharset UTF-8

#Expect CT
<IfModule mod_headers.c>
Header always set Expect-CT 'max-age=86400 ; enforce ; report-uri="https://steeve-legal.github.io/site-pur-css/"'
</IfModule>

#PROTECTION DIVERSES
<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "SAMEORIGIN" 
Header always set X-XSS-Protection "1 ; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header set Referrer-Policy: "no-referrer"
</IfModule>

#Feature Policy
<IfModule mod_headers.c>
Header set Feature-Policy "geolocation 'none';midi 'none';notifications 'none';push 'none';sync-xhr 'none';microphone 'none';camera 'none';magnetometer 'none';gyroscope 'none';speaker 'self';vibrate 'none';fullscreen 'self';payment 'none';"
</IfModule>

#CONTENT SECURITY POLICY
<Ifmodule mod_headers.c>
Header always set Content-Security-Policy " default-src 'none'; img-src 'self'; style-src 'self' ; base-uri https://steeve-legal.github.io/site-pur-css/; report-uri https://steeve-legal.github.io/site-pur-css/ ; upgrade-insecure-requests ; "
</IfModule>

#Autoriser l'utilisation du cache
<Ifmodule mod_expires.c>  
<filesmatch "\.(jpg|jpeg|gif|png|css|js|svg|webp|x-icon|ico)$">
ExpiresActive on
ExpiresDefault "access plus 1 month"
</filesmatch> </ifmodule>

# Mise en cache des fichiers dans le navigateur
<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/ico "access plus 1 year"
  
  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

# En-têtes
Header unset ETag
FileETag None

<ifModule mod_headers.c>  
<filesMatch "\.(ico|jpeg|jpg|png|gif|swf)$">  
    Header set Cache-Control "public"  
</filesMatch>  
<filesMatch "\.(css)$">  
    Header set Cache-Control "public"  
</filesMatch>  
<filesMatch "\.(js)$">  
    Header set Cache-Control "private"  
</filesMatch>  
<filesMatch "\.(x?html?|php)$">  
    Header set Cache-Control "private, must-revalidate "
</filesMatch>
</ifModule>

# Compressions des fichiers statiques

<IfModule mod_deflate.c> 
    AddOutputFilterByType DEFLATE text/xhtml text/html text/plain text/xml text/javascript application/x-javascript text/css 
    BrowserMatch ^Mozilla/4 gzip-only-text/html 
    BrowserMatch ^Mozilla/4\.0[678] no-gzip 
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
    SetEnvIfNoCase Request_URI \.(?:gif|jpeg|jpg|png)$ no-gzip dont-vary 
    Header append Vary User-Agent env=!dont-vary 
</IfModule>  

AddOutputFilterByType DEFLATE text/html  
AddOutputFilterByType DEFLATE text/plain  
AddOutputFilterByType DEFLATE text/xml  
AddOutputFilterByType DEFLATE text/css  
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE font/opentype
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/json 

# preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
php_value zlib.output_compression 16386
</ifmodule>

# protect against DOS attacks by limiting file upload size
LimitRequestBody 5240000

#Optimisons les éléments favorables au référencement naturel (SEO)

#Retirer l'expression "category" de vos urls

RewriteRule ^category/(.+)$ https://steeve-legal.github.io/site-pur-css/$1 [R=301,L]

# deny access to evil robots site rippers offline browsers and other nasty scum
RewriteBase /
RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus

# send em to a virtual blackhole of fake email addresses
RewriteRule ^.*$ http://english-61925045732.spampoison.com [R,L]
